In [4]:
myAge = 32
print(myAge)

32

In [5]:
myAge = 33
print(myAge)

33

In [6]:
print(myAge/3)

11.0

In [7]:
myAge = myAge + 1
print(myAge)

34

In [8]:
restaurantBill = 36.17
serviceCharge = 0.125
tip = restaurantBill * serviceCharge 
print(tip)

4.52125

In [9]:
type(33)

int

In [10]:
type(33.6)

float

In [11]:
type('Pablo')

str

In [13]:
type(restaurantBill)

float

## Lists and Arrays

In [1]:
#Lists
primeNumbers = [3, 7, 61, 29, 199]
type(primeNumbers)

list

In [3]:
coolPeople = ['Jay Z', 'Ghandi', 'me']
primeAndPeople = ['King Arthur', 17, 11, 'Jennifer Lopez']
type(primeAndPeople)

list

In [5]:
primeNumbers[0]

3

In [7]:
bestPrimeEver = primeNumbers[4]
print(bestPrimeEver)

199

In [27]:
def top_three(scores):
    scores = scores
    top_scores = []
    
    scores.sort(reverse=True)
    for i in range(3):
        top_scores.append(scores[i])
    
    # Leave this line alone
    return top_scores
scores = [1,2,3,4,5,6,3,4,6,6,9,10] 
top_three(scores)

[10, 9, 6]

## Dataframes and Series

In [29]:
import pandas as pd
data = pd.read_csv('lsd_math_score_data.csv')

In [32]:
type(data)

pandas.core.frame.DataFrame

### Pulling specific columns from a dataframe

In [ ]:
onlyMathScores = data['Avg_Math_Test_Score']
print(onlyMathScores)

### Adds a new column to a dataframe

In [38]:
data['Test_Subject'] = 'Jennifer Lopez'
#adds a new column to dataframe and adds 'Jennifer Lopez to alal '

In [40]:
data['High_Score'] = 100

In [42]:
#Challenge: Overwrite values in rows for High_Score to equal average score + 100
data['High_Score'] = data['High_Score'] + data['Avg_Math_Test_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0      178.93
1      158.20
2      167.47
3      137.47
4      145.65
5      132.92
6      129.97

In [43]:
#Challenge: Square the values stored inside High_Score
data['High_Score'] = data['High_Score']**2

In [44]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0  32015.9449
1  25027.2400
2  28046.2009
3  18898.0009
4  21213.9225
5  17667.7264
6  16892.2009

In [45]:
type(onlyMathScores)
#A series is always just one column, single dimension

pandas.core.series.Series

## Making a smaller dataframe from an existing dataframe 

## A.K.A Subsetting

In [47]:
# Challenge: Create a list called columnList. Put 'LSD_ppm' and 'Avg_Math_Test_Score' inside. 
# columnList = ['LSD_ppm', 'Avg_Math_Test_Score']
cleanData = data[['LSD_ppm', 'Avg_Math_Test_Score']]
print(cleanData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [48]:
type(cleanData)

pandas.core.frame.DataFrame

## Predicting Math Test Scores

In [49]:
y = data[['Avg_Math_Test_Score']]

### Adding a list to a dataframe outputs a dataframe
### Adding a string to a dataframe outputs a series

In [52]:
# Challenge: 1) Create a variable called X
# Set X equal to the values of LSD_ppm
# Make sure X is a dataframe
# 2) print the vlue of X
# 3) show the type of X

X = data[['LSD_ppm']]
print(X)
print(type(X))

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41
<class 'pandas.core.frame.DataFrame'>

## To delete a column from a dataframe

In [53]:
del data['Test_Subject']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [ ]:
# Challenge: Delete High_Score column from data
del data['High_Score']

In [57]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

## Imports, Modules, & Packages

In [82]:
import life as hitchhikersGuide
#imports a previously created life.py file

In [83]:
type(hitchhikersGuide)

module

In [84]:
hitchhikersGuide.theAnswer
#calls theAnswer variable inside life.py

42

In [80]:
#Challenge: 1) import math module 2) print out value of pi 3) print out value of e
import math

In [68]:
math.pi

3.141592653589793

In [69]:
math.e

2.718281828459045

In [85]:
from life import theAnswer

In [86]:
print(theAnswer)

42

In [88]:
myFavouriteNumber = theAnswer
print(myFavouriteNumber)

42

In [91]:
theAnswer = theAnswer + 1
print(theAnswer)

45

In [94]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

## Defining and Calling Functions

In [96]:
def get_milk():
    print('Open door')
    print('Walk to the store')
    print('Buy milk on the ground floor')
    print('Return with milk galore')

In [97]:
get_milk()

Open door
Walk to the store
Buy milk on the ground floor
Return with milk galore

## Parameters & Arguments

In [3]:
def fill_the_fridge(amount):
    print('Open door')
    print('Walk to the store')
    print('Buy ' + amount + ' cartons on the ground floor')
    print('Return with milk galore')

In [7]:
fill_the_fridge('five')

Open door
Walk to the store
Buy five cartons on the ground floor
Return with milk galore

In [11]:
fill_the_fridge('one thousand')

Open door
Walk to the store
Buy one thousand cartons on the ground floor
Return with milk galore